In [2]:
import os
import pandas as pd
import re

In [60]:
path = os.path.join("Data","train.csv")

df = pd.read_csv(path)
df.head()

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
0,0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875
1,1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056
2,2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320
3,3,Nike,Nylon,Small,8.0,Yes,No,Messenger,Green,12.937220,80.60793
4,4,Adidas,Canvas,Medium,1.0,Yes,Yes,Messenger,Green,17.749338,86.02312

In [61]:
df.set_index(df["id"],inplace=True)
df.drop(columns = ["id"],inplace = True)
df.head()

,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
id,,,,,,,,,,
0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875
1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056
2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320
3,Nike,Nylon,Small,8.0,Yes,No,Messenger,Green,12.937220,80.60793
4,Adidas,Canvas,Medium,1.0,Yes,Yes,Messenger,Green,17.749338,86.02312

In [62]:
df["Size"].unique()

array(['Medium', 'Small', 'Large', nan], dtype=object)

In [63]:
print(df.isnull().sum())
df.dropna(how="any",inplace=True)
print(df.isnull().sum())

Brand                   9705
Material                8347
Size                    6595
Compartments               0
Laptop Compartment      7444
Waterproof              7050
Style                   7970
Color                   9950
Weight Capacity (kg)     138
Price                      0
dtype: int64
Brand                   0
Material                0
Size                    0
Compartments            0
Laptop Compartment      0
Waterproof              0
Style                   0
Color                   0
Weight Capacity (kg)    0
Price                   0
dtype: int64

In [66]:
def Preprocessing(data):
    data["Laptop Compartment"] = data["Laptop Compartment"].map({"Yes":1,"No":0})
    data["Size"] = data["Size"].map({"Small":0,"Medium":1,"Large":2})
    return data
df.head()

,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
id,,,,,,,,,,
0,Jansport,Leather,1,7.0,1,No,Tote,Black,11.611723,112.15875
1,Jansport,Canvas,0,10.0,1,Yes,Messenger,Green,27.078537,68.88056
2,Under Armour,Leather,0,2.0,1,No,Messenger,Red,16.643760,39.17320
3,Nike,Nylon,0,8.0,1,No,Messenger,Green,12.937220,80.60793
4,Adidas,Canvas,1,1.0,1,Yes,Messenger,Green,17.749338,86.02312

In [65]:
preprocessed_data = Preprocessing(df)
preprocessed_data.head()

,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
id,,,,,,,,,,
0,Jansport,Leather,1,7.0,1,No,Tote,Black,11.611723,112.15875
1,Jansport,Canvas,0,10.0,1,Yes,Messenger,Green,27.078537,68.88056
2,Under Armour,Leather,0,2.0,1,No,Messenger,Red,16.643760,39.17320
3,Nike,Nylon,0,8.0,1,No,Messenger,Green,12.937220,80.60793
4,Adidas,Canvas,1,1.0,1,Yes,Messenger,Green,17.749338,86.02312

In [ ]:
hi